.carousel {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.carousel__contents {
  transform: translateX(0);
  transition: .3s;
}

.carousel__contents--item {
  background: #e0e0e0;
  height: 200px;
  float: left;
  width: 500px;
}

.carousel__next_button {
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
}

.carousel__prev_button {
  position: absolute;
  top: calc(50% - 6px);
  left: 0;
}

.carousel__indicator {
  display: block;
  padding: 0;
  text-align: center;
  width: 500px;
}
